#div1
{
    text-align: center;
    border: solid;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 100px;
    margin-bottom: 400px;
}
#edit, #search , #delete , #tab
{
    text-align: center;
    border: solid;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 100px;
    margin-bottom: 400px;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
ul {
    list-style-type:  none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  li {
      float: left;
  }
  
  li a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
li a:hover:not(.active) {
    background-color: black;
  }
  
.active {
    background-color: rgb(241, 9, 9);
}
#result11 , #result11e
{
	text-align: center;
	background-color: limegreen;
	color: white;
}
#result1, #result2, #result3,  #result4,  #result5,  #result6,  #result7,  #result8,  #result9 , #result10 
{
	text-align: center;
	background-color: red;
	color: white;
}
#result1e, #result2e, #result3e,  #result4e,  #result5e,  #result6e,  #result7e,  #result8e,  #result9e , #result10e 
{
	text-align: center;
	background-color: red;
	color: white;
}
