.App {
  text-align: center;
}

.Display {
  border: 2px black solid;
  margin-left: 500px;
  margin-right: 500px;
  background-color: greenyellow;
}

.Namelabel {
  color: darkblue;
  font: bold italic 20px/30px Sans-serif;
}

.Agelabel {
  color: darkblue;
  font: bold italic 20px/30px Sans-serif;
}
