.App {
  text-align: center;
}

#table2 {
  border-collapse: collapse;
  margin: auto;
}

#table1 {
  border-collapse: collapse;
  margin: auto;
}
#filterdiv {
  margin: auto;
}

table, tr {
  border: 1px solid black;
  background-color: greenyellow;
}
th,td {
  border: 1px solid black;
}

.complete {
  background-color: blue;
}