body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(99, 201, 201);
}

#enter {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

}